*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* ====== hero page ====== */

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(banku_bg.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.navbar{
    width: 100%;
    height: 75px;
    background-color: rgba(54, 56, 88, 0.5);
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: fixed; 
    top: 0;         
    left: 0;         
    z-index: 1000;   
}


.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    font-size: 35px;
    font-family: arial;
    padding-left: 35px;
    float: left;
    padding-top: 10px;
}

.bank {
    color: #FEFBF6; 
}

.u {
    font-weight: bold;
    color: #FFC436; 
}


.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #FEFBF6;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #FFC436;
}

.login{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #58A0C8;
    border: none;
    margin-top: 1px;
    color: #FEFBF6;
    font-weight: bold;
    font-size: 15px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    float: right;
    padding: 10px;
    cursor: pointer;
    transition: 0.4 ease;
}

.btn:hover{
    background-color: #326591;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #FEFBF6;
    position: relative;
    padding: 70px;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #FFC436;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: o.4s ease;
}

.content .cn a{
    text-decoration: none;
    color: #0C356A;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease;
}

.cn:hover{
    background-color: #FEFBF6;
}

.content span{
    color: #FFC436;
    font-weight: bold;
    font-size: 60px;
}

/* ====== login form ====== */

.login-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(78, 74, 74, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup-content {
    position: relative;
    width: 450px;
    background: #FEFBF6;
    border: 2px solid #ffffff;
    border-radius: 15px;
    padding: 4em 2.5em 2em 2.5em; 

    color: #000000;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.login-header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0C356A;
    width: 45%;
    height: 50px;
    border-radius: 15px 15px 20px 20px;  
}

.login-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 #0C356A;
}

.login-header::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 #0C356A;
}

.login-header h2{
    font-size: 30px;
    color: #ffffff;
    font-family: arial;
}

.input_box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    font-family: arial;
    font-size: 13px;
    font-weight: 520;
}

.input-field{
    width: 83%;
    height: 50px;
    font-size: 16px;
    background: transparent;
    color: #000000;
    padding-inline: 20px 50px;
    border: 2px solid #000000;
    border-radius: 30px;
}

#user{
    margin-bottom: 10px;
}

.label{
    position: absolute;
    top: 15px;
    left: 20px;
    transition: 0.2s;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label{
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: #FEFBF6;
    color: #000000;
    padding: 0 5px;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-family: arial;
    text-decoration: none;
}
.input-submit{
    width: 100%;
    height: 50px;
    background: #0C356A;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s;
    color: #FEFBF6;
}

.input-submit:hover{
    background: #82b1db;
}

.register{
    text-align: center;
    font-family: Arial;
}

.register a{
    font-weight: 500;
    text-decoration: none;
}

.close {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}

.togglePassword {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #000000;
}

/* ====== about ====== */

.about {
    width: 100%;
    height: 109vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #FEFBF6; 
}

.aboutbox {
    width: 25%;
    height: 80%;
    background-color: #FEFBF6;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.45);
    padding: 20px;
    border-radius: 10px; 
}

.aboutbox {
    width: 25%;
    height: 80%;
    background-color: #FEFBF6;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.45);
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
}

.aboutbox.show {
    opacity: 1;
    transform: translateY(0);
}


.aboutbox h1{
    font-family: 'Times New Roman';
    padding: 20px;
    padding-top: 40px;
}

.par_abt{
    font-family: Arial;
    float: left;
    padding-top: 20px;
    padding-right: 150px;
    padding-left: 20px;
    letter-spacing: 1.2px;
    line-height: 25px;
}

.aboutbox:nth-child(1) {
    background: url("abt1.png");
    background-size: cover;
    background-position: center;
}

.aboutbox:nth-child(2) {
    background: url("abt2.png");
    background-size: cover;
    background-position: center;
}

.aboutbox:nth-child(3) {
    background: url("abt3.png");
    background-size: cover;
    background-position: center;
}

/* ====== about ====== */
.services {
    width: 100%;
    min-height: 109vh;   
    background: #FEFBF6; 
    padding: 20px;
    display: flex;             
    flex-direction: column;    
    justify-content: center;   
    align-items: center;       
    gap: 30px;              
}

.services-tagline {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: arial;
    color: #0C356A;
    letter-spacing: 1.4px;
}

.servicesbox {
    width: 80%;     
    height: fit-content;            
    background-color: #FEFBF6;
    padding: 20px;
    display: flex;  
    gap: 20px;   
    opacity: 0;
    transform: translateY(-50px); 
    transition: all 0.8s ease-out;        
}

.servicesbox.show {
    opacity: 1;
    transform: translateY(0); 
}

.icon_serv {
    background-color: #0C356A; 
    font-size: 80px;
    color: #ffffff;   
    margin-top: -10px;     
    padding: 20px;
    border-radius: 20px;
}

.content_serv h1{
    color: #0C356A; 
    font-weight: bold;
    font-size: 40px;
}

.content_serv p{
    font-family: Arial;
    padding-top: 12px;
    padding-right: 100px;
   
    letter-spacing: 1.2px;
    line-height: 25px;
}

.fill {
    height: 109vh;
    width: 100%;
    display: flex;             
    justify-content: center;    
    align-items: center;       
}

.fillbox {
    height: 90%;
    width: 90%;
    background: linear-gradient(to top, rgba(16, 2, 49, 0.5), rgba(12, 24, 97, 0.5)), url('fill.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 150px; 
    border-bottom-right-radius: 150px; 
    display: flex;               
    justify-content: center;     
    align-items: center;         
    text-align: center;   
}

.fillbox h1{
    font-family: 'Times New Roman';
    font-size: 70px;
    color: #FEFBF6;
    letter-spacing: 8px;
}

/* ====== contacts/footer ====== */
.contact{
    height: 73vh;
    width: 100%;
    background: #222020;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.contactbox {
    display: flex;            
    justify-content: space-between; 
    align-items: flex-start;       
    padding: 40px;
    gap: 40px;                 
}

.logo-footer h2{
    font-size: 80px;
    font-family: arial;
    padding-left: 35px;
    float: left;
    padding-top: 10px;
}

.logo-footer p{
    font-size: 20px;
    font-family: arial;
    padding-left: 35px;
    float: left;
    padding-top: 15px;
    color: #FEFBF6;
   
}

.social{
    color: #FEFBF6;
    font-size: 45px;
    padding-top: 45px;
}

.contact-info h1{
    color: #FEFBF6;
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
}

.contact-info h2{
    color: #FEFBF6;
    font-size: 20px;
    font-family: arial;
    font-weight: bold;
    padding-top: 15px;
}

.gen-detail{
    padding-top: 30px;

}

.titlehold{
    color: #FEFBF6;
    font-size: 15px;
    font-family: arial;
    font-weight: bold;
    padding-top: 20px;
}

.detail{
     color: #FEFBF6;
    font-size: 15px;
    font-family: arial;
    padding-top: 20px;
}

.footer {
    width: 100%;
    color: #FEFBF6;
    text-align: center;
    padding: 35px 0;   
    position: relative; 
    bottom: 0;
    letter-spacing: 2.5px;
}















